*{font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1.5;
	box-sizing: border-box;
    text-align: center;
    
}

html{background-color: #020659;}

nav ul{
    display: flex;
    justify-content: center;

}

header{
display: block;
background-color: #030A8C;
color:white;
padding: 40px;
text-align: left;
}

#smoothJazz{

    background-color: #030A8C;
    color: white;
    text-align: left;
}

h1{
    text-align: left;
}

footer{
    display: block;
    background-color: #030A8C;
    color:white;
    padding: 40px;
    text-align: center;
    }

.audioplayer{
    z-index: 1;
    position: relative;
    margin-bottom: 30;
}

.overlap, .overlap2, .overlap3, .overlap4, .overlap5{
    position: relative;
    margin: -25px;
    z-index: 1;
}

#trendingsongsgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: white;
}

nav li{
    color:white;
    display: block;
    padding-right: 30px;
}

nav a{
color: white;}

body{
background-color: white;
}

ul{
    list-style: none
}

.curatedplaylists{
    background-color: #030A8C;
}

h2{color:white;
text-align: left;
}
h3{color: #590242}



h4{color:white;}



.grid-container-element { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 

    border: 1px solid black; 
    width: 100;
} 

.grid-childOne{ 
    background-color: #2669FB;
    color: white;
}
.grid-childTwo{ 

    padding-bottom: 500px;
    background-color: #020873;
    color: white;
}



@media only screen and (max-width: 768px) {
    #curatedplaylists{
        display: block;
    }
      
    }


    @media only screen and (max-width: 768px) {
        #trendingsongsgrid{
            display: block;
        }
          
        }
